body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
button {
    padding: 100px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
